body {
  width: 100%;
  height: auto;
  margin: 0 auto;
  animation: pulse 2s infinite alternate,
  nudge 2s linear infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #3df76c;
  }
  100% {
    background-color: lawngreen;
  }
}

section{
	float: !important;
	object-position: center;
}

h1 {
  font-family:'Luminari';
  font-size: 3vw;
  color:yellow;
}

h2 {
  font-size: 2vw;
  color:white;
  background-color: #FD6FCA;
}

p {
  line-height: 1.5;
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: justify;
}

.cute{
    height: 0px;  
    width: 0px;
}

.top, footer {
  text-align: center;
  background-color: #F66710;
  color: white;
  padding: 2%;
}

.bookmarks {
  background-color: mediumpurple;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Verdana', sans-serif;
}

.bookmarks:hover {
   background-color: lightpink;
}

.fox {
  padding-top: 20px;
  text-align: left;
}


.column {
  float: center;
}

.main {
  width: 40%;
}


.row{
  width: 100%;
  text-align:left;
  margin: 5% 20%;  
}

.row::after {
  content: "";
  display: table;
  clear: both;
}




.TEXT1{

background-color: transparent; 
color: rgb(255, 243, 36); 
font-family: Tahoma, Geneva, sans-serif; 
font-size: 42px; 
font-weight: bold; 
height: 40px; 
left: 1300px; 
position: absolute; 
top: 800px; 
width: 675px; 

}

.TEXT2{

background-color: transparent; 
color: rgb(255, 243, 36); 
font-family: Tahoma, Geneva, sans-serif; 
font-size: 42px; 
font-weight: bold; 
height: 40px; 
left: 1300px; 
position: absolute; 
top: 1200px; 
width: 675px; 

}

.TEXT3{

background-color: transparent; 
color: rgb(255, 243, 36); 
font-family: Tahoma, Geneva, sans-serif; 
font-size: 42px; 
font-weight: bold; 
height: 40px; 
left: 1300px; 
position: absolute; 
top: 1600px; 
width: 675px; 

}

.TEXT4{

background-color: transparent; 
color: rgb(255, 243, 36); 
font-family: Tahoma, Geneva, sans-serif; 
font-size: 42px; 
font-weight: bold; 
height: 40px; 
left: 1300px; 
position: absolute; 
top: 2000px; 
width: 675px; 

}

.TEXT5{

background-color: transparent; 
color: rgb(255, 243, 36); 
font-family: Tahoma, Geneva, sans-serif; 
font-size: 42px; 
font-weight: bold; 
height: 40px; 
left: 1300px; 
position: absolute; 
top: 2400px; 
width: 675px; 

}

.TEXT6{

background-color: transparent; 
color: rgb(255, 243, 36); 
font-family: Tahoma, Geneva, sans-serif; 
font-size: 42px; 
font-weight: bold; 
height: 40px; 
left: 1300px; 
position: absolute; 
top: 2800px; 
width: 675px; 

}

